/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: var(--main-font);
  background-image: var(--repeting-gradient);
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-wght);
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: var(--margin) 0;
  border: 2px solid var(--color);
  font-family: var(--accent-font);
  background-color: var(--bg-color);
  inline-size: clamp(375px, 50vw, 696px);
  block-size: clamp(327px, 368px, 368px);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 40px;
  text-align: center;
}

.title-description {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu {
  padding: 5px 0 25px;
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:hover,
.theme-menu__button:focus-visible {
  opacity: 60%;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: " ";
  position: absolute;
  bottom: -2px;
  left: 5px;
  background-color: var(--color);
  inline-size: 90%;
  block-size: 2px;
  scale: 0;
}

.theme-menu__button:focus-visible::after {
  transition: scale 0.3s ease;
  scale: 1;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  display: inline-block;
  animation: arrow 0.5s ease-in-out infinite alternate;
  inset-inline-start: -15px;
}

/* MAIN */
.content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--main-padding) * 2);
}

.card {
  display: flex;
  flex-direction: column;
  outline: 2px solid var(--color);
  background-color: var(--bg-color);
  inline-size: clamp(375px, 50vw, 696px);
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--accent-wght);
}

.card__img {
  object-fit: cover;
  object-position: center bottom;
  inline-size: 100%;
  block-size: 100%;
}

.wrapper {
  position: relative;
  outline: 2px solid var(--color);
  overflow: hidden;
  block-size: 696px;
}

.card__text-element {
  position: absolute;
  opacity: 50%;
  color: var(--color);
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
  inset-block-start: var(--main-padding);
  inset-inline-end: var(--main-padding);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .card__text-element {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

.card__description {
  padding: var(--main-padding) var(--main-padding) 0 var(--main-padding);
  font-size: 18px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.theme-menu__button:focus {
  opacity: 60%;
}

.button-container {
  display: flex;
  justify-content: end;
  padding: var(--main-padding);
}

.card__icon-button {
  border: 2px solid transparent;
  block-size: 38px;
}

.button__text {
  color: var(--button-color);
  font-family: var(--accent-font);
  font-size: 14px;
  mix-blend-mode: difference;
}

.card__like-button,
.final__button,
.dialog__button {
  position: relative;
  border: 2px solid var(--color);
  overflow: hidden;
  background-color: var(--bg-color);
}

.card__like-button {
  min-inline-size: 130px;
  block-size: 38px;
}

/* PICTURES */
.blank-sheet {
  filter: grayscale(0.8);
}

.doubts {
  filter: brightness(400%);
}

.ideal {
  filter: sepia(0.5);
}

.who-near {
  filter: saturate(200%) hue-rotate(0.4turn);
}

.work-around {
  filter: invert(130%);
}

.give-up {
  filter: blur(0.4rem);
}

.now {
  filter: brightness(200%) saturate(60%) hue-rotate(80deg);
}

/* final */
.final {
  margin-block-start: calc(var(--margin) / 2);
  margin-block-end: var(--margin);
}

.final__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  inline-size: 335px;
  block-size: 55px;
}

.final .floppy-icon {
  color: var(--button-color);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

/* АНИМАЦИИ КНОПОК */
.card__like-button:focus-visible,
.final__button:focus-visible,
.dialog__button:focus-visible {
  box-shadow: 2px 2px var(--color);
  transition: box-shadow 0.3s ease;
}

.card__like-button::before,
.final__button::before,
.dialog__button::before {
  content: " ";
  position: absolute;
  inset: 0;
  background-color: var(--color);
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.card__like-button:hover.card__like-button::before,
.final__button:hover.final__button::before,
.dialog__button:hover.dialog__button::before {
  translate: 0;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color);
  transition: border 0.3s ease;
}

/* DIALOG */
dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  color: var(--color);
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--bg-color);
  transition: opacity 0.3s ease-in-out;
}

.dialog__container {
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 21px;
  inline-size: 293px;
  block-size: 63px;
}

.dialog__paragraph {
  max-inline-size: 198px;
}

.dialog__button {
  border: 2px solid var(--color);
  text-transform: uppercase;
  min-inline-size: 257px;
  block-size: 38px;
}

dialog::backdrop {
  opacity: 75%;
  background-color: #000;
}

/* MEDIA */
@media (width <=375px) {
  .header {
    block-size: 323px;
  }

  .card__text-element {
    inset-inline-end: 13px;
  }

  .wrapper {
    block-size: 375px;
  }

  .final__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    inline-size: 306px;
    block-size: 84px;
  }

  .final .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog__container {
    inline-size: 257px;
  }
}
